'.text.html.php':
  'Loop':
    'prefix': 'loop'
    'body': '<?php query_posts("cat=$1&showposts=$2"); ?>\n\t<?php if (have_posts()) : ?>\n\t\t<?php while (have_posts()) : the_post(); ?>\n\t\t\t$3\n\t\t<?php endwhile; ?>\n\t<?php endif;?>'

  'Header':
    'prefix': 'get_header'
    'body': '<?php get_header();?>'

  'Footer':
    'prefix': 'get_footer'
    'body': '<?php get_footer();?>'

  'Sidebar':
    'prefix': 'get_sidebar'
    'body': '<?php get_sidebar();?>'

  'Post_Title':
    'prefix': 'the_title'
    'body': '<?php the_title();?>'

  'Post-Date':
    'prefix': 'the_date'
    'body': '<?php the_date();?>'

  'Post-Thumbnail':
    'prefix': 'the_post_thumbnail'
    'body': '<?php the_post_thumbnail();?>'

  'Post-Author':
    'prefix': 'the_author'
    'body': '<?php the_author(); ?>'

  'Post-Excerpt':
    'prefix': 'the_excerpt'
    'body': '<?php the_excerpt(); ?>'

  'Post-Category':
    'prefix': 'the_category'
    'body': '<?php the_category($seperator = ", "); ?>'

  'Post-Thumbnail-url':
    'prefix': 'the_post_thumbnail_url'
    'body': '<?php the_post_thumbnail_url(); ?>'

  'Post-Content':
    'prefix': 'the_content'
    'body': '<?php the_content(); ?>'

  'Lang-Attributes':
    'prefix': 'lang-attri'
    'body': '<?php language_attributes(); ?>'

  'Charset':
    'prefix': 'b-charset'
    'body': '<?php bloginfo("charset"); ?>'

  'Description':
    'prefix': 'b-descript'
    'body': '<?php bloginfo("description"); ?>'

  'Html-Type':
    'prefix': 'b-html-type'
    'body': '<?php bloginfo("html_type"); ?>'

  'WP-title':
    'prefix': 'wp_title'
    'body': '<?php wp_title(); ?>'

  'WP-name':
    'prefix': 'b-name'
    'body': '<?php bloginfo("name"); ?>'

  'Template-URL':
    'prefix': 'b-template-url'
    'body': '<?php bloginfo("template_url"); ?>'

  'Stylesheet-URL':
    'prefix': 'b-stylesheet-url'
    'body': '<?php bloginfo("stylesheet_url"); ?>'

  'WP-head':
    'prefix': 'wp-head'
    'body': '<?php wp_head(); ?>'

  'Stylesheet-directory':
    'prefix': 'b-stylesheet_directory'
    'body': '<?php bloginfo("stylesheet_directory"); ?>/'

  'WP-Footer':
    'prefix': 'wp_footer'
    'body': '<?php wp_footer(); ?>'

  'Template-Name':
    'prefix': 'template-name'
    'body': '<?php\n/*\nTemplate Name:$1\n*/\n?>'

  'Permalink':
    'prefix': 'get_post_permalink'
    'body': '<?php echo get_post_permalink(); ?>'

  'dynamic sidebar':
    'prefix': 'dynamic_sidebar'
    'body': '<?php dynamic_sidebar("$1"); ?>'

  'Author link':
    'prefix': 'the_author_link'
    'body': '<?php the_author_link(); ?>'

'.source.css':
  'CSS-Infos':
    'prefix': 'css-infos'
    'body': '/* [Master Stylesheet] */\n/*\nTemplate Name: $1\nTemplate Author: $2\nTemplate Author URI: $3\nText Domain: $4\nVersion: - v0$5.0.0\n*/'
